
.container{
  position: relative;
  height: 300px;
  width: 250px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
  
}
.container:hover{
  box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.8);
}
.container .image{
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  transition: transform 0.3s ease-out;
}
.container:hover .image{
  transform: translateY(-100px);
}
.image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-out;
}
.container:hover .image img{
  opacity: 0.7;
}
.container:hover .image{
 transform: translateY(-100px);
}

.container .content{
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
.info{
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  color: #000;
  line-height: 26px;
}
.info h2{
  font-size: 27px;
  margin: 3px 0;
}
.info span{
  color: #1a1a1a;
}